@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
*{
    font-family: "Montserrat", sans-serif, "Poppins";
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  overflow-x: hidden;
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
 
}
.navbtns{
    background-color: black;
    border-radius: 20px;
    margin: 40px ;
    transition: .3s ease-in-out;

}
.navbtns:hover{
    box-shadow: 0 4px 15px black;
}

.Projects img{
    margin: 20px;
    width:60%;
    border:8px solid rgb(255, 255, 255);
    border-radius: 40px;
    max-height:40vh;
}
.babeofthemeall{
    margin:90px auto ;
}
.firstspac{
    display: flex;
    /* background-color: red; */
    padding:30px;
    /* width:50%; */
    border-radius: 40px;
    background-color: rgba(181, 181, 181, 0.085);
}
.firimfmfnspa4 img{
    position: relative;
    left: 10px;

    /* width:90%; */
}
/* .nabafitsds p{
     width:60% !important ;
} */
.firstspac2{
    
    position: relative;
    left:-60px !important;
}
/* This is for the image horizintal scrolling infininte */
.babascroll{
    overflow: hidden;
  white-space: nowrap;
  position: relative;
  /* left:20%; */
}
.imgscrol{
     overflow: hidden;
    /* display: inline-block; */
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}
.imgscrol img{
    width: 80% !important;
    margin: 10px;
    vertical-align: middle;
}
/* @keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-30%);
  }
} */

.middleman{
   position: relative;
   left: 300px;
}
/* Styling for the first image in the space category which is the space1 img */

.babafirspac{
    /* margin: 40px 20%; */
    /* margin-right: 140%; */
    /* width:60%; */
    margin-right: 20px;
}
.firimfmfnspa{
   
    transform: rotate(30.5deg);
}
.firimfmfnspa2{

    transform: rotate(-25.5deg);
}

.minsidespace1{
    border-radius: 30px;
    /* background-color: rgba(181, 181, 181, 0.065); */
  
    /* height:25vh; */
    /* width:20%; */
    /* color: black; */
    /* margin-bottom: 10px;
    position: relative;
    overflow: hidden; */
   
}
/* This is for the flower img */
.flowerighs{
    border-radius:40px;
    background-color: rgb(255, 255, 255);
     margin-bottom: 40px;
}
.flowerighs img{
    position: relative;
    left:20px;
     margin: 30px 20px;
   
}
.flowerighs3{
     border-radius:40px;
    background-color:lightgray;
     margin-bottom: 40px;
}
.flowerighs3 img{
    position: relative;
    left:20px;
     margin: 30px 20px;
}
.flowerighs2{
     border-radius:40px;
    background-color: rgba(247, 247, 166, 0.306);
     margin-bottom: 40px;
}
.flowerighs2 img{
    position: relative;
    left:20px;
     margin: 30px 20px;
}

.kings-ofmin{
    display: flex;
}
.kings-ofmin img{
    width: 120px;
    max-height: 160px;
    margin: 10px 0;
    border-radius: 20px;
}

.ogapics{
    transition: .9s ease-in-out;
    transition-delay: .5s;
}
.ogapics:hover{
    
    color: white;
    background-color: rgba(0, 0, 255, 0.515);
}
.miningforme{
    position: relative;
    left:20px;
    border: 5px rgb(255, 255, 255) solid;
    transform: rotate(15.5deg);
    transition: .8s ease-in-out;
    transition-delay: .4s;
}
.miningforme:hover{
    border:rgba(0, 0, 0, 0.34) solid 5px;
}
.miningforme2{
    border: 5px rgb(255, 255, 255) solid;
    transform: rotate(-5.5deg);
}
.miningform2:hover{
    border:rgba(0, 0, 0, 0.34) solid 5px;
}
.miningforme4{
     border: 5px rgb(255, 255, 255) solid;
    transform: rotate(5.5deg);
    position: relative;
    left:-10px;
    transition: .8s ease-in-out;
    transition-delay: .4s;
}

/* This is the style for the section for check out the site */
.minofmeintg{
    background-color:rgba(128, 128, 128, 0.054);
}
.minviebe{
    transition: .8s ease-in-out;
    transition-delay: .4s;
}
.minviebe:hover{
    background-color: rgba(255, 0, 0, 0.825);
   color: white;
    /* box-shadow: 0 5px 15px black; */
}
.miningforme4:hover{
    border:rgba(0, 0, 0, 0.34) solid 5px;
}
/* All these are part of thhe footer */
.thisimhs{
    /* font-size: 30px; */
    width: 180px;
    /* margin: 0 40px; */
    text-align: center;
    /* text-wrap:nowrap ; */
    
}
.beforethemfoots{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
footer{
    position: relative;
    left: -10px;
}
footer img{
    max-width:95%;
    margin: 10px;
}
.footer:hover{
    animation: spin 1s linear infinite;
}
/* .minsidespace1 p{
    overflow-y:hidden;
    font-size:15px;
} */
.themigwei:hover{
    animation: spin 1s linear infinite;
}
.themigweimgds:hover{
    animation: spin 1s linear infinite;
}
/* This is a style for to make an element animation name called spin to rotate from it's current deg to 360deg */
@keyframes spin{
    from{transform: rotate(-23.5deg); }
    to{ tranfrom:rotate(360deg);}
}
@media  (min-width:200px) and (max-width:800px){
    nav{
        /* color: teal; */
       
    }
   
    /* this style is for the paragraph  */
    .firstvhaimsn{
        font-size: 30px !important;
    }
    .firstvhaimsn span{
        /* color:rgb(216, 153, 18); */
        font-size:50px !important;
        font-weight: 900 !important;
    }
    /* This style is for the first p tag */
    .firsdpdppp{
        width: 90% !important;
    }
    .middleman{
        left: 10px;
    }
    /* This style is for the first p tag  */
    .firppdonf{
        margin-top: 20px;
        width: 100%;
        left:10px !important;
    }
    .firppdonf p{
        width: 90% !important;
    }
    
    .babeofthemeall{
        flex-direction: column !important;
    }
    /* styling for the sector with the stack logo */
    .Whythem{
        display: flex  !important;
        justify-content: space-around;
        position: relative;
        left: -15px !important;
        margin: 20px 10px;
    }

    /* This style is for the chrisbank side section */
    .Whythem22{
        left:-20px !important;
    }
    .flowerighs{
        
        width: 40% !important;
    }

    /* this style is for the section below flowerighs */
    .minofmeintg{
        flex-direction: column !important;
        width:80% !important;
        left: 25px !important;
    }
    .minofmeintg h3{
        width: 90%;
    }
    /* this style is for the div holdign the button below it */
    .firstudbtn{
      padding:10px !important;
      width: 60% !important;
      overflow: hidden;
      position: relative;
      left:60px;
    }
    .firstudbtn button{
        top: 0 !important;
        left: 25px !important;
    }
    .babafirspac{
        /* background-color: gray; */
        width:100% !important;
        /* margin-right: 0px !important; */
    }
    /* Styling the images side */
    .babafirspac33{
        position:  relative !important;
        left:-4px !important;
    }
    .babafirspac433{
        left: 0% !important;
    }

    .ogapics{
        border-radius: 10px !important;
        margin:0px !important;
        position: relative;
        left: -5px;
    }
    /* this style is for the part that talk's about my self the guy behund the pixels */
    .underthecanopy{
        flex-direction: column !important;
    }
    
    .parentofthemp{
        width: 100% !important;
    }
    .kings-ofmin{
        gap:0px !important;
        /* padding: 10px !important; */
    }
    .kings-ofmin img{
        position: relative;
        top:8px !important;
        
       
        /* width: 900px !important; */
    }
    .bossofiggdfed{
        height:200px !important;
        margin:5px 0px !important;
        overflow: hidden;
        gap:40px !important;
    }
    .bossofiggdfed img{
        /* margin: 50px !important; */
        /* height: 60vh; */
        /* width: 500%; */
    }
    .miningforme4{
        display: none;
    }
    .miningforme{
    /* height: 160px; */

        /* width: 900px !important; */
        margin: 1px 0px !important;
    }
    .miningforme2{
         left:-25px !important;
         /* width: 900px !important; */
        margin: 1px 0px !important;

    }
    .subparentofthemp{
        flex-direction: column !important;
        
        width:100% !important;
    }
    .sobunder{
        width: 100% !important;
    }
    .underthecanopy p{
        /* width:100% !important; */
    }
    .firstspac{
        background-color: rgb(255, 255, 255);
    }
    .minviebe{
        margin: 40px 20px !important;
        border-radius: 10px !important;
        left:-5px !important;
        width: 90% !important;
    }
    .minofmeintg{
        top:-60px !important;
    }
    .minofmeintg3332{
        top:-90px !important;
    }
    .Whythem{
        /* margin: 10px 0px !important; */
    }
    .firimfmfnspa2{
        border-radius:20px !important;
        border: 4px solid black !important;
    }
    .firimfmfnspa{
        border-radius:20px !important;
        border: 4px solid black !important;
    }
    .thisimhs{
        display: none;
    }
    .beforethemfoots{
        display: none;
    }
}